body {
    --background-color: #8C52FF;
    --text-color: #fff;
    --container-background: rgba(255, 255, 255, 0.3);
    --box-shadow-color: rgba(0, 0, 0, 0.1);
    --border-color: rgba(255, 255, 255, 0.1);
    --input-border-color: white;
    --button-background: #debff4;
    --button-hover-background: #8b48d7;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.light-mode {
    background: var(--background-color);
    color: var(--text-color);
}

.dark-mode {
    background: #121212; /* Dark background color */
    color: #ffffff; /* White text color */
}

#toggle-button {
    position: absolute;
    top: 10px; /* Adjust the top position as needed */
    left: 10px; /* Adjust the left position as needed */
    background: var(--button-background);
    color: white;
    padding: 10px 0;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width: 100px;
    font-size: 15px;
}

#weather-container {
    background: var(--container-background);
    max-width: 400px;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 8px 32px var(--box-shadow-color);
    backdrop-filter: blur(10px);
    border: 1px solid var(--border-color);
    text-align: center;
}

h2, label, p {
    color: var(--text-color);
    margin: 8px 0;
}

input {
    width: calc(100% - 16px);
    padding: 8px;
    box-sizing: border-box;
    border-radius: 10px;
    border: 1px solid var(--input-border-color);
    margin-top: 20px;
}

button {
    background: var(--button-background);
    color: white;
    padding: 10px 0;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 20px;
    width: 100px;
    font-size: 15px;
}

button:hover {
    background: var(--button-hover-background);
}

#temp-div p {
    font-size: 60px;
    margin-top: -30px;
}

#weather-info {
    font-size: 20px;
}

#weather-icon {
    width: 200px;
    height: 200px;
    margin: 0 auto 10px; 
    margin-bottom: 0;
    display: none;
}

#hourly-forecast {
    margin-top: 50px;
    overflow-x: auto;
    white-space: nowrap;
    display: flex;
    justify-content: space-between;
}

.hourly-item {
    flex: 0 0 auto;
    width: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 10px;
    color: var(--text-color);
}

.hourly-item img {
    width: 30px;
    height: 30px;
    margin-bottom: 5px;
}

#hourly-heading {
    color: var(--text-color);
    margin-top: 10px;
}
